*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(112, 112, 227);

}

.box{
    width: 50px;
    height: 50px;
    margin: 10px;
    background: darkolivegreen;
    border-radius: 100px;
}
.buttons-container
{
    display: flex;
}
button
{
    padding: 10px 20px;
    margin-left: 10px;
    outline: none;
}